<nb-card>
    <nb-card-body>
        <nb-tabset (changeTab)="onTabChange($event)" fullWidth>
            <nb-tab tabTitle="Client Details" tabIcon="nb-person" responsive>
                <!--Show the Client Information Here-->
                <ngx-client-details></ngx-client-details>
            </nb-tab>
            <nb-tab tabTitle="Organizations" tabIcon="nb-notifications" responsive>
                <!--Show the Client Information Here-->
                <ngx-organizations></ngx-organizations>
            </nb-tab>
            <nb-tab tabTitle="Employees" tabIcon="nb-email" responsive>
                <!--Show the Client Information Here-->
                <br><br>
                <div *ngIf="isAddEmployee">
                    <ngx-add-edit-employee></ngx-add-edit-employee>
                </div>
                <div *ngIf="!isAddEmployee">
                    <button class="btn btn-success btn-xs" style="float: right" (click)="onClickAddEmployee()">Add Employee</button>
                    <ngx-employees></ngx-employees>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Surveys" tabIcon="nb-person" responsive>
                <!--Show the Client Information Here-->
                <p>List of <strong>users</strong>.</p>
            </nb-tab>
            <nb-tab tabTitle="Emails" tabIcon="nb-notifications" responsive>
                <!--Show the Client Information Here-->
                <p>List of <strong>users</strong>.</p>
            </nb-tab>
            <nb-tab tabTitle="Report Data" tabIcon="nb-email" responsive>
                <!--Show the Client Information Here-->
                <p>List of <strong>users</strong>.</p>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>