<!--<nb-card>-->
<!--<nb-card-header>-->
<!--<nb-card-body>-->
<!--<nb-actions size="small">-->
<!--<nb-action icon="nb-search"></nb-action>-->
<!--<nb-action icon="nb-power-circled"></nb-action>-->
<!--<nb-action icon="nb-person"></nb-action>-->
<!--<nb-action icon="nb-home"></nb-action>-->
<!--</nb-actions>-->
<!--</nb-card-body>-->
<!--</nb-card-header>-->
<!--<nb-card-body>-->
<!--&lt;!&ndash;Display the Router Here to show the specified component&ndash;&gt;-->
<!--Clients-->
<!--<button class="btn btn-success btn-xs" style="float: right" (click)="onClickAdd()">Add Client</button>-->
<!--</nb-card-body>-->
<!--</nb-card>-->
