<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Add Boxes</nb-card-header>
      <nb-card-body>
        <div class="row full-name-inputs">
          <div class="col-md-12 col-sm-12 input-group">
            <input type="text" nbInput fullWidth placeholder="Page Title *">
          </div>
        </div>
        <div class="row full-name-inputs">
          <div class="col-md-6 col-sm-12 input-group">
            <nb-card-header style="padding: 0px; padding-top: 10px; padding-bottom: 10px; font-size: 1rem">
              Page Text *
            </nb-card-header>
            <ngx-ckeditor></ngx-ckeditor>
          </div>
        </div>
        <div class="row full-name-inputs">
          <div class="col-md-12 col-sm-12 input-group">
            <label for="input-b4a">Large Image</label>
            <input id="input-b4a" name="input-b4a" type="file" class="file" readonly="true" style="margin-left: 24px">
          </div>
          <div class="col-md-12 col-sm-12 input-group">
            <label for="input-b4a">Thumb Image</label>
            <input id="input-b5a" name="input-b4a" type="file" class="file" readonly="true" style="margin-left: 16px">
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
